# here we store dependencies to develop and test
# without version as we want to develop on -current
#
# this file is used by github actions
#
# if you want to see supported python/package version look into tox.ini
#
Django
flake8
pytest
pytest-django
tox
psycopg2-binary
